@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,500;0,600;0,700;0,900;1,100;1,300&display=swap");
/**************RESETO**************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #000;
  font-family: 'Montserrat', sans-serif; }

.servicios h1, .contenedor-portfolio h1, h1 {
  text-align: center;
  text-transform: capitalize;
  padding: 25px;
  font-size: 30px;
  font-weight: 800;
  color: #fff; }

/********ESTILOS HEADER*********/
.navbar {
  background-color: #000 !important; }
  .navbar img {
    width: 200px; }
  .navbar .container-fluid {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-around; }

.navbar-nav {
  align-items: center; }
  .navbar-nav li a {
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    text-transform: capitalize;
    padding: 15px; }
    .navbar-nav li a:hover {
      color: #FFC500; }
  .navbar-nav ._active {
    color: #FFC500;
    font-weight: 700; }

@media (max-width: 700px) {
  .navbar img {
    width: 100px; } }

/* ESTILOS FOOTER */
.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 50px; }

.logo-footer {
  padding: 10px; }
  .logo-footer img {
    width: 150px; }

.info-footer {
  padding: 10px; }
  .info-footer h6 {
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 800;
    color: #fff;
    padding-bottom: 10px; }
  .info-footer p {
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    color: #fff;
    font-weight: 200; }
  .info-footer ul {
    display: flex;
    flex-direction: row;
    justify-content: left;
    list-style: none; }
  .info-footer li {
    text-decoration: none; }
  .info-footer a {
    text-decoration: none;
    color: #fff;
    padding: 5px; }
    .info-footer a:hover {
      color: #FFC500; }

hr {
  color: #fff; }

#copyright {
  text-transform: uppercase;
  padding-top: 10px;
  color: #fff;
  text-align: center;
  font-weight: 200;
  font-size: 12px; }

/*MEDIAS QUERY*/
@media (max-width: 980px) {
  .footer {
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .info-footer ul {
    justify-content: center;
    align-items: center; } }

/* ESTILOS INDEX */
.intro {
  text-align: center; }

.section {
  padding-top: 4rem;
  padding-bottom: 4rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center; }

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }

.block-title {
  margin-bottom: 40px;
  padding-bottom: 40px;
  transition: all 0.3s; }
  .block-title:hover {
    transform: scale(1.1); }
  .block-title h1 {
    color: #fff;
    font-weight: 800;
    font-size: 50px;
    text-transform: uppercase; }
    .block-title h1 .branding {
      background-color: #FFC500;
      color: #000; }
  .block-title h2 {
    color: #fff;
    font-weight: 300;
    font-size: 20px; }

.grid-item {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
  transition: transform 0.3s ease-in-out;
  background-size: cover;
  background-position: justify;
  background-repeat: no-repeat; }
  .grid-item:hover {
    filter: opacity(0.9);
    transform: scale(1.04); }
  .grid-item img {
    width: 100%;
    height: 100%;
    object-fit: cover; }

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: minmax(300px, auto);
  gap: 0px;
  padding: 20px;
  grid-auto-flow: dense; }

.wide {
  grid-column: span 2; }

.tall {
  grid-row: span 2; }

.clientes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px; }
  .clientes h3 {
    text-transform: uppercase;
    color: #fff;
    font-size: 30px;
    font-weight: 800;
    padding-bottom: 20px;
    transform: rotate(2deg); }
    .clientes h3 .span-clientes {
      background-color: #FFC500; }
  .clientes p {
    text-align: center;
    color: #fff;
    font-size: 16px;
    padding: 50px; }
  .clientes .contenedor-clientes {
    text-align: center; }
    .clientes .contenedor-clientes img {
      width: 100px;
      object-fit: cover; }
  .clientes .img-clientes img {
    width: 100px;
    object-fit: cover; }
  .clientes .frase {
    font-weight: 800;
    font-size: 1rem;
    color: #000; }
    .clientes .frase .span-frase {
      background-color: #00DC99; }

/*MEDIAS QUERY*/
@media (max-width: 700px) {
  .block-title h1 {
    font-size: 2rem;
    text-align: left;
    margin: 15px;
    padding: 15px; }
  .block-title h2 {
    padding-top: 0px;
    font-size: 1rem; }
  .block-title h3 {
    font-size: 20px; }
  .clientes h3 {
    font-size: 20px; }
  .clientes p {
    font-size: 12px;
    /* padding: 50px; */ } }

@media (max-width: 320px) {
  .block-title h1 {
    font-size: 1.5rem;
    text-align: left;
    margin: 10px;
    padding: 10px; }
  .block-title h2 {
    padding-top: 0px;
    font-size: 1rem; }
  .block-title h3 {
    font-size: 20px; }
  .grid-item img {
    width: 280px;
    object-fit: cover; }
  .grid-container {
    padding: 5px;
    grid-auto-flow: dense; } }

/* ESTILOS SERVICIOS */
.servicios {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.contenedor-servicios {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.servicio {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
  padding-bottom: 70px; }
  .servicio i {
    color: #FFC500;
    padding-bottom: 10px; }
  .servicio h2 {
    padding-bottom: 10px;
    color: #fff;
    font-size: 20px;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase; }
  .servicio p {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    text-align: center; }

.container-haciendo {
  /*background-image: linear-gradient(45deg, #FFC500 25%, #000000 25%, #000000 50%, #FFC500 50%,  #FFC500 75%, #000000 75%, #000000 100%);
    background-size: 42.43px 42.43px;*/
  background-color: #FFC500; }

.haciendo {
  padding: 50px;
  text-align: center; }
  .haciendo p {
    font-size: 2rem;
    text-align: center;
    color: #fff;
    font-weight: 800; }

.data {
  height: 30vh;
  margin: 20px; }
  .data h2 {
    font-size: 2.5rem;
    font-weight: 800;
    text-align: center;
    color: #00DC99;
    padding-top: 20px;
    padding-bottom: 15px; }
  .data p {
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    text-align: center; }

.contenedor-estadisticas {
  text-align: center;
  padding: 20px; }
  .contenedor-estadisticas i {
    color: #fff;
    list-style: none;
    padding: 20px;
    margin: 10px; }
  .contenedor-estadisticas h2 {
    padding-bottom: 30px;
    color: #FFC500;
    text-align: center;
    font-weight: 800;
    font-size: 25px; }
  .contenedor-estadisticas p {
    color: #fff;
    font-weight: 300;
    font-size: 18px;
    text-align: center; }

/* media query*/
@media (max-width: 780px) {
  .haciendo {
    padding-top: 4rem; }
    .haciendo p {
      text-align: center; }
  .estadisticas {
    flex-direction: column; } }

@media (max-width: 500px) {
  h1 {
    font-size: 1.5rem; }
  .haciendo {
    height: 30vh;
    padding: 2px;
    text-align: center; }
    .haciendo p {
      padding-top: 5px;
      font-size: 20px; }
  .data h2 {
    font-size: 20px; }
  .data p {
    font-size: 12px;
    font-weight: 400; } }

/* ESTILOS PORTFOLIO */
.tz-gallery {
  padding: 40px; }
  .tz-gallery .lightbox img {
    width: 100%;
    margin-bottom: 30px;
    transition: 0.2s ease-in-out;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2); }
    .tz-gallery .lightbox img:hover {
      transform: scale(1.05);
      box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3); }
  .tz-gallery img {
    border-radius: 4px; }

.baguetteBox-button {
  background-color: transparent !important; }

.container-fluid {
  width: 70%; }

.portfolio {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto;
  grid-gap: 5px;
  margin-top: 250px; }
  .portfolio .img figure {
    width: 100%;
    height: 100%; }
  .portfolio .img img {
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .portfolio .img:nth-child(2) {
    grid-row-start: span 2; }
  .portfolio .img:nth-child(4) {
    grid-row-start: span 2; }
  .portfolio .img:nth-child(5) {
    grid-row-start: span 2; }
  .portfolio .img:nth-child(6) {
    grid-column-start: span 1; }

.img:hover {
  transform: scale(1.1); }

/*media query*/
@media (max-width: 700px) {
  .portfolio {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .container-fluid {
    width: 100%;
    margin: 0;
    padding: 0; }
    .container-fluid .tz-gallery {
      padding-top: 1rem; }
      .container-fluid .tz-gallery .lightbox img {
        transition: none; }
        .container-fluid .tz-gallery .lightbox img:hover {
          transform: none;
          box-shadow: none; } }

@media (max-width: 200px) {
  .contenedor-portfolio h1 {
    font-size: 1rem; } }

/* ESTILOS CONTACTO */
.mainContacto {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 7rem; }
  .mainContacto h2 .contanos {
    color: #fff;
    font-weight: 800;
    font-size: 3rem;
    text-align: center;
    background-color: #00DC99; }
  .mainContacto p {
    font-size: 18px;
    font-weight: 300;
    color: #fff;
    margin-bottom: 2rem;
    text-align: center; }
    .mainContacto p .help {
      font-weight: 500; }
  .mainContacto form {
    display: flex;
    flex-direction: column;
    align-items: center; }

.contacto .info-contacto {
  text-align: center; }
  .contacto .info-contacto .title {
    font-size: 1.5rem;
    font-weight: 800;
    color: #FFF; }
  .contacto .info-contacto .info-title {
    font-size: 1rem;
    font-weight: 400;
    color: #FFC500; }

.formulario-contacto {
  display: flex;
  flex-direction: row;
  align-items: center; }
  .formulario-contacto .formato-input {
    border: 0.2rem;
    width: 100%;
    height: 2.5rem;
    margin: 0.5rem;
    padding-left: 0.5rem;
    font-size: 1rem; }
  .formulario-contacto .formato-text-area {
    border: 0.2rem;
    width: 100%;
    margin: 0.5rem;
    resize: none;
    padding-left: 0.5rem;
    padding-top: 0.5rem;
    font-size: 1rem; }
  .formulario-contacto .boton {
    display: flex;
    flex-direction: row; }
    .formulario-contacto .boton input {
      text-transform: uppercase;
      margin: 2rem 1rem 4rem 1rem;
      background-color: #FFC500;
      color: white;
      padding: 0.5rem;
      font-weight: 700;
      width: 8rem;
      font-size: 1rem;
      border: none; }
      .formulario-contacto .boton input:hover {
        transform: translate(0.1rem, 0.1rem);
        opacity: 0.9; }

.fin-page {
  background-color: #FFC500;
  background-size: contain;
  padding-top: 3rem;
  padding-bottom: 0; }

.info-fin {
  text-align: center; }
  .info-fin h2 {
    color: #FFF;
    font-weight: 700;
    font-size: 4rem; }

@media (max-width: 980px) {
  .fin-page h2 {
    font-size: 2rem; }
  .fin-page img {
    width: 60%; } }

@media (max-width: 760px) {
  .formulario-contacto .boton input {
    width: auto;
    font-size: 1rem; } }

@media (max-width: 420px) {
  .mainContacto h2 .contanos {
    font-size: 1.5rem; }
  .mainContacto .formulario-contacto .formato-input {
    border: 0.1rem;
    width: 100%;
    height: 1.5rem;
    margin: 0.5rem;
    padding-left: 0.5rem;
    font-size: 10px; }
  .mainContacto .formulario-contacto .formato-text-area {
    border: 0.1rem;
    width: 100%;
    margin: 0.5rem;
    resize: none;
    padding-left: 0.5rem;
    padding-top: 0.5rem;
    font-size: 10px; }
  .mainContacto .formulario-contacto .boton input {
    width: auto;
    font-size: 10px; }
  .mainContacto .info-contacto .title {
    font-size: 14px; }
  .mainContacto .info-contacto .info-title {
    text-align: center;
    font-size: 12px; } }

@media (max-width: 200px) {
  .mainContacto p {
    font-size: 12px;
    font-weight: 300;
    color: #fff;
    margin-bottom: 2rem;
    text-align: center; }
  .mainContacto .formulario-contacto .boton input {
    width: auto;
    font-size: 8px;
    margin: 2px; }
  .mainContacto .info-contacto {
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .mainContacto .info-contacto .title {
      font-size: 14px; }
    .mainContacto .info-contacto .info-title {
      text-align: center;
      font-size: 10px; }
  .fin-page h2 {
    font-size: 1rem; } }

/*media query
@media (max-width:980px) {
    .contacto {
        flex-direction: column;
    }

    .formulario {
        flex-direction: column;
    }

    .contenedor-input {
        display: block;

        input {
            font-size: 16px;
            color: #fff;
            width: 70%;
        }

        textarea {
            width: 70%;
        }
    }

    .informacion {
        flex-direction: column;
        align-items: center;
        padding: 20px;

        h2 {
            font-size: 25px;
            text-align: left;
            color: #fff;
        }

        h3 {
            font-size: 15px;
            text-align: left;
        }

        li {
            font-size: 15px;
        }

    }
}

@media (max-width:700px) {
    .contacto {
        flex-direction: column;
    }

    .formulario {
        flex-direction: column;
    }

    .contenedor-input {
        display: block;

        input {
            font-size: 16px;
            color: #fff;
            width: 70%;
        }

        textarea {
            width: 70%;
        }
    }

    .informacion {
        flex-direction: column;
        align-items: center;
        padding: 20px;

        h2 {
            font-size: 25px;
            text-align: left;
            color: #fff;
        }

        h3 {
            font-size: 15px;
            text-align: left;
        }

        li {
            font-size: 15px;
        }
    }
}*/
.sobre-nosotros {
  margin-top: 2rem;
  margin-bottom: 2rem; }
  .sobre-nosotros p {
    font-size: 18px;
    color: #fff;
    text-align: justify;
    padding: 5px;
    font-weight: 300; }
    .sobre-nosotros p .sobre-nostros-span {
      background-color: #FFC500;
      color: #000;
      font-weight: 400; }
    .sobre-nosotros p .nos-apasiona {
      color: #1abc9c;
      font-weight: 700; }

.presentacion-equipo h2 {
  text-align: center;
  text-transform: capitalize;
  font-size: 3rem;
  font-weight: 800; }
  .presentacion-equipo h2 .hay-equipo {
    background-color: #FFC500;
    color: #fff; }

.presentacion-equipo .item-equipo {
  text-align: center;
  margin-top: -25px; }
  .presentacion-equipo .item-equipo img {
    width: 250px; }
    .presentacion-equipo .item-equipo img:hover {
      transform: scale(1.1); }
  .presentacion-equipo .item-equipo .item-cargo {
    padding-top: 1rem;
    font-size: 1rem;
    font-weight: 700;
    color: #fff;
    text-align: center; }
    .presentacion-equipo .item-equipo .item-cargo .span-cargo {
      background-color: #FFC500;
      color: #000; }
  .presentacion-equipo .item-equipo .item-descripcion {
    padding-bottom: 2rem;
    font-size: 1rem;
    font-weight: 300;
    color: #fff;
    text-align: center; }

.city {
  background-image: url("/img/villamaria.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 3rem;
  padding-bottom: 0;
  display: block;
  text-align: center;
  height: 500px; }
  .city h3 {
    font-size: 3rem;
    font-weight: 800;
    color: #FFC500;
    text-align: center;
    text-transform: capitalize; }
    .city h3 .villamarienses {
      background-color: #FFC500; }
  .city .city-why {
    color: #fff;
    padding: 40px;
    font-size: 20px;
    text-align: center;
    text-shadow: 0.1em 0.1em 0.2em black; }

@media (max-width: 720px) {
  .city .city-why {
    padding: 5px;
    font-size: 15px;
    color: #fff; } }

@media (max-width: 320px) {
  .presentacion-equipo h2 {
    font-size: 1.5rem; }
  .presentacion-equipo .item-equipo {
    margin: 5px; }
    .presentacion-equipo .item-equipo img {
      width: 150px; }
  .city h3 {
    font-size: 1.5rem; } }
